# 项目排除路径
/MDK-ARM/RTE/
/MDK-ARM/DebugConfig/

*.o
*.d
*.crf

/cmake-build-debug-mingw-stm32/.cmake/
/cmake-build-debug-mingw-stm32/CMakeFiles/
/cmake-build-debug-mingw-stm32/Testing/
/cmake-build-debug-mingw-stm32/CMakeCache.txt
/cmake-build-debug-mingw-stm32/cmake_install.cmake
/cmake-build-debug-mingw-stm32/LED-Test.cbp
